.homeDivMain {
	width: 100%;
	overflow: hidden;
	.homeContainer {
		height: 470px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 1440px) {
			height: 420px;
		}
		@media screen and (max-width: 1024px) {
			height: 460px;
		}
		@media screen and (max-width: 768px) {
			height: 300px;
		}
		@media screen and (max-width: 600px) {
			justify-content: center;
		}
		.contentDiv {
			@media screen and (max-width: 600px) {
				text-align: center;
				width: 100%;
			}
			h2 {
				font-family: Poppins;
				font-weight: 600;
				font-size: 55px;
				line-height: 63px;
				text-align: left;
				color: #363636;
				margin: 0;
				margin-bottom: 14px;
				@media screen and (max-width: 1440px) {
					font-size: 40px;
					line-height: 48px;
				}
				@media screen and (max-width: 1250px) {
					font-size: 35px;
					line-height: 43px;
				}
				@media screen and (max-width: 768px) {
					font-size: 25px;
					line-height: 33px;
				}
				@media screen and (max-width: 600px) {
					font-size: 20px;
					line-height: 28px;
					text-align: center;
				}
			}
			p {
				font-family: Poppins;
				font-weight: normal;
				font-size: 18px;
				line-height: 30px;
				text-align: left;
				color: #363636;
				margin: 0;
				margin-bottom: 14px;
				.Typist {
					display: inline-block !important;
				}
				@media screen and (max-width: 768px) {
					font-size: 16px;
					line-height: 28px;
				}
				@media screen and (max-width: 600px) {
					font-size: 14px;
					line-height: 26px;
					text-align: center;
				}
			}
			button {
				width: 268px;
				height: 50px;
				border-radius: 25px;
				background: #26914a;
				box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16);
				font-family: Poppins;
				font-weight: normal;
				font-size: 15px;
				color: #fff;
				border: none;
			}
		}
		.imageDiv {
			height: 100%;
			position: relative;
			@media screen and (max-width: 1024px) {
				margin-right: -20px;
			}
			@media screen and (max-width: 600px) {
				display: none;
			}
			img {
				height: 100%;
				transform: translateZ(0);
				@media screen and (max-width: 768px) {
					height: 90%;
					position: absolute;
					bottom: 0;
					right: 0;
				}
				@media screen and (max-width: 600px) {
					height: 100%;
					position: absolute;
					bottom: 0;
					right: -50px;
					display: none;
				}
			}
		}
	}
	.secondSection {
		width: 100%;
		// height: 85px;
		background: #26914a;
		margin-top: -3px;
		padding: 15px 0px;
		@media screen and (max-width: 1120px) {
			flex-direction: column;
			height: auto;
			padding: 10px 0;
		}
		.secondSectionContainer {
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;
			justify-content: space-between;
			@media screen and (max-width: 1120px) {
				flex-direction: column;
			}
			@media screen and (max-width: 600px) {
				width: auto;
				padding: 0;
			}
			.textDiv {
				width: 30%;
				@media screen and (max-width: 1120px) {
					margin-bottom: 10px;
					width: auto !important;
				}
				p {
					margin: 0;
					font-family: Poppins;
					font-weight: normal;
					font-size: 17px;
					text-align: left;
					color: #fff;
					@media screen and (max-width: 1120px) {
						text-align: center;
					}
					@media screen and (max-width: 600px) {
						font-size: 16px;
					}
				}
			}
			.buttonDiv {
				display: flex;
				align-items: center;
				justify-content: center;
				@media screen and (max-width: 1250px) {
					margin-right: 0px;
				}
				@media screen and (max-width: 1024px) {
					margin-right: 0px;
				}
				@media screen and (max-width: 850px) {
					margin: 0;
					width: 90%;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					align-content: center;
					flex-wrap: wrap;
					a {
						width: 45%;
						button {
							width: 100%;
							text-align: center;
						}
					}
				}
				button {
					border: none;
					height: 50px;
					border-radius: 10px;
					background: transparent;
					/* padding: 0px 68px; */
					font-family: Poppins;
					font-weight: normal;
					font-size: 16px;
					text-align: left;
					color: white;
					font-size: 20px;
					margin-left: 15px;
					position: relative;
					padding: 0px 18px;
					@media screen and (max-width: 1250px) {
						margin-right: 0;
						padding: 0px 18px;
					}
					@media screen and (max-width: 850px) {
						font-size: 14px;
						height: 40px;
						padding: 0px 18px;

						margin-right: 0;
						margin-left: 0;
						width: 25%;
					}

					svg {
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translate(0, -50%);
						@media screen and (max-width: 600px) {
							right: 5px;
						}
					}
					&.searchButton {
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #ffe600;
						padding: 25px;
						border-radius: 50%;
						color: #26914a;
						border: 3px solid #fff;
						svg {
							width: 30px;
							height: 30px;
							@media screen and (max-width: 600px) {
								left: auto;
								right: auto;
							}
						}
					}
				}
				.select {
					border: none;
					height: 50px;
					border-radius: 10px;
					background: #fff;
					font-family: Poppins;
					font-weight: normal;
					font-size: 16px;
					text-align: left;
					color: #3b3b3b;
					margin-right: 15px;
					margin-left: 15px;
					// padding: 10px 20px;
					// &.Animal {
					// 	width: 200px;

					// }
					&.villa {
						width: 170px;
						text-align: center;
						margin-left: 15px;
						&::placeholder {
							color: #3b3b3b;
						}
					}
					.ant-select-selector {
						padding: 10px 31px;
						border-radius: 10px;
						@media screen and (max-width: 1250px) {
							padding: 0;
						}
					}
					.ant-select-selector,
					input {
						border: none;
						text-align: center;
						outline: none;
						box-shadow: none !important;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 100%;
					}
					@media screen and (max-width: 1250px) {
						margin-right: 0;
						padding: 0px 30px;
					}
					@media screen and (max-width: 850px) {
						font-size: 14px;
						height: 40px;
						padding: 0px 8px;
						// margin-right: 5px;
						// margin-left: 5px;
						width: 75% !important;
						margin-bottom: 8px;
					}
				}

				.select + .select {
					// margin-left: 26px;
					// margin-right: 0;
					@media screen and (max-width: 600px) {
						// margin-left: 10px;
					}
				}
			}
		}
	}
	.thirdSection {
		width: 100%;
		height: 549px;
		background: #f2f2f2;
		position: relative;
		overflow: hidden;
		@media screen and (max-width: 846px) {
			height: 400px;
		}
		@media screen and (max-width: 600px) {
			// height: 300px;
		}
		.thirdSectionContainer {
			position: relative;
			height: 100%;
			img {
				transform: translateZ(0);
			}
			.leftImage {
				position: absolute;
				left: 0;
				bottom: 0;
				@media screen and (max-width: 1440px) {
					left: -100px;
				}
				@media screen and (max-width: 1024px) {
					left: 0;
				}
				@media screen and (max-width: 846px) {
					display: none;
				}
			}
			.rightImage {
				position: absolute;
				right: -270px;
				bottom: 0;
				@media screen and (max-width: 1024px) {
					display: none;
				}
			}
			.textDiv {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding-left: 50px;
				padding-top: 100px;
				@media screen and (max-width: 1440px) {
					padding-top: 20px;
				}
				@media screen and (max-width: 1024px) {
					// margin-right: 50px;
					padding: 0;
					margin-left: auto;
					width: 50%;
				}
				@media screen and (max-width: 846px) {
					align-items: center;
					padding: 0;
					width: 100%;
				}
				@media screen and (max-width: 320px) {
					margin-top: 50px;
				}
				h2 {
					text-align: center;
					margin: 0;
					font-family: Poppins;
					font-weight: 600;
					font-size: 30px;
					line-height: 48px;
					text-align: left;
					color: #363636;
					margin-bottom: 15px;
					text-align: center;
					span {
						color: #26914a;
					}
					@media screen and (max-width: 1440px) {
						font-size: 30px;
						line-height: 36px;
					}
					@media screen and (max-width: 1024px) {
						width: 100%;
						text-align: center;
					}
					@media screen and (max-width: 846px) {
						width: 100%;
					}
					@media screen and (max-width: 600px) {
						font-size: 22px;
						line-height: 28px;
					}
				}
				p {
					max-width: 469px;
					text-align: center;
					margin: 0;
					font-family: Poppins;
					font-weight: normal;
					font-size: 18px;
					line-height: 30px;
					text-align: center;
					color: #363636;
					@media screen and (max-width: 1440px) {
						max-width: 400px;
					}
					@media screen and (max-width: 1024px) {
						width: 100%;
					}
					@media screen and (max-width: 846px) {
						width: 100%;
					}
					@media screen and (max-width: 600px) {
						font-size: 16px;
						line-height: 28px;
					}
				}
			}
		}
	}

	.fourthSection {
		padding-top: 170px;
		padding-bottom: 170px;
		@media screen and (max-width: 768px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		.fourthSectionContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: 600px) {
				flex-direction: column;
			}
			.fourthSectionItem {
				text-align: center;
				padding-left: 83px;
				padding-right: 83px;
				@media screen and (max-width: 1024px) {
					padding-left: 50px;
					padding-right: 50px;
				}
				@media screen and (max-width: 600px) {
					padding-left: 0px;
					padding-right: 0px;
					margin-bottom: 50px;
				}
				img {
					transform: translateZ(0);
					margin-bottom: 15px;
					margin-top: 15px;
				}
				h2 {
					margin: 0;
					font-family: Poppins;
					font-weight: 600;
					font-size: 18px;
					text-align: center;
					color: #363636;
				}
				p {
					margin: 0;
					font-family: Poppins;
					font-weight: normal;
					font-size: 12px;
					text-align: center;
					color: #363636;
					max-width: 170px;
					margin: auto;
					margin-top: 5px;
				}
			}
		}
	}

	.sectionFive {
		width: 100%;
		height: 472px;
		background: #f2f2f2;
		@media screen and (max-width: 600px) {
			height: 350px;
		}
		.sectionFiveContainer {
			position: relative;
			height: 100%;
			display: flex;
			height: 100%;
			align-items: center;
			img {
				position: absolute;
				right: -190px;
				top: -47px;
				transform: translateZ(0);
				@media screen and (max-width: 1024px) {
					right: -620px;
				}
				@media screen and (max-width: 800px) {
					right: -700px;
				}
				@media screen and (max-width: 600px) {
					display: none;
				}
			}
			.textDiv {
				@media screen and (max-width: 600px) {
					width: 100%;
					text-align: center;
				}
				h2 {
					margin: 0;
					font-family: Poppins;
					font-weight: 600;
					font-size: 40px;
					line-height: 63px;
					text-align: left;
					color: #2d1810;
					margin-bottom: 18px;
					@media screen and (max-width: 1440px) {
						font-size: 34px;
						line-height: 58px;
					}
					@media screen and (max-width: 1250px) {
						font-size: 45px;
						font-size: 53px;
					}
					@media screen and (max-width: 800px) {
						font-size: 35px;
						line-height: 43px;
					}
					@media screen and (max-width: 600px) {
						font-size: 22px;
						line-height: 30px;
						text-align: center;
						margin-bottom: 10px;
					}
				}
				p {
					margin: 0;
					font-family: Poppins;
					font-weight: normal;
					font-size: 15px;
					line-height: 30px;
					text-align: left;
					color: #363636;
					margin-bottom: 13px;
					@media screen and (max-width: 800px) {
						font-size: 16px;
						line-height: 28px;
					}
					@media screen and (max-width: 600px) {
						font-size: 14px;
						line-height: 26px;
						text-align: center;
					}
				}
				button {
					border: none;
					width: 268px;
					height: 50px;
					border-radius: 25px;
					background: #26914a;
					box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16);
					font-family: Poppins;
					font-weight: normal;
					font-size: 15px;
					color: #fff;
				}
			}
		}
	}

	.sixthSection {
		width: 100%;
		height: 266px;
		background: #26914a;
		@media screen and (max-width: 680px) {
			height: 500px;
		}
		.sixthSectionContainer {
			position: relative;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@media screen and (max-width: 680px) {
				align-items: flex-start;
				justify-content: center;
			}
			img {
				position: absolute;
				top: -75px;
				left: 0;
				transform: translateZ(0);
				@media screen and (max-width: 930px) {
					left: -70px;
				}
				@media screen and (max-width: 680px) {
					bottom: -54px;
					left: 50%;
					transform: translate(-50%, 0);
					top: auto;
				}
			}
			.textDiv {
				p {
					margin: 0;
					max-width: 490px;
					font-family: Poppins;
					font-weight: normal;
					font-size: 18px;
					line-height: 30px;
					text-align: right;
					color: #fff;
					margin-right: 84px;
					@media screen and (max-width: 930px) {
						margin: 0;
						max-width: 400px;
					}
					@media screen and (max-width: 680px) {
						text-align: center;
						margin-top: 30px;
					}
				}
			}
		}
	}

	.seventhSection {
		padding-top: 66px;
		padding-bottom: 66px;
		.seventhSectionContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: 600px) {
				flex-direction: column;
			}
			.seventhSectionItem {
				text-align: center;
				padding-right: 107px;
				padding-left: 107px;
				@media screen and (max-width: 1024px) {
					padding-right: 30px;
					padding-left: 30px;
				}
				@media screen and (max-width: 768px) {
					padding-right: 30px;
					padding-left: 30px;
				}
				@media screen and (max-width: 600px) {
					padding-right: 0px;
					padding-left: 0px;
					margin-bottom: 50px;
				}
				img {
					transform: translateZ(0);
					margin-bottom: 20px;
				}
				h2 {
					margin: 0;
					max-width: 160px;
					margin: auto;
					font-family: Poppins;
					font-weight: 600;
					font-size: 18px;
					text-align: center;
					color: #363636;
					margin-bottom: 10px;
				}
				p {
					margin: 0;
					max-width: 227px;
					margin: auto;
					font-family: Poppins;
					font-weight: normal;
					font-size: 14px;
					text-align: center;
					color: #707070;
				}
			}
		}
	}
}
.filterModal {
	z-index: 9999;
	.modalHeading {
		h2 {
			margin: 0;
			font-family: Poppins;
			font-weight: normal;
			font-size: 17px;
			text-align: left;
			color: #26914a;
			font-size: 22px;
			font-weight: bold;
			margin: 0px 0px 10px;
			text-align: center;
			@media screen and (max-width: 600px) {
				font-size: 16px;
			}
		}
	}
	.filterInput {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 20px;
		.ant-select {
			margin: 0px 10px;
			width: 60% !important;
			margin-bottom: 10px;
			height: 50px;
			box-shadow: 0px 0px 4px -1px #26914a;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			@media screen and (max-width: 600px) {
				width: 95% !important;
			}
			.ant-select-selector {
				border: none;
				width: 95%;
				height: 80%;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: none !important;
			}
		}
		.ant-input{
			padding: 4px 19px;
		} 
		.ant-select-item-option-selected {
			background-color: #26914a;
		}
		.modalButton {
			background: #26914a;
			color: white;
			border: none;
			padding: 10px;
			width: 60%;
			font-size: 17px;
			border-radius: 10px;
			margin-top: 9px;
			@media screen and (max-width: 600px) {
				width: 95% !important;
			}
		}
	}
}
