.footerMainDiv {
  width: 100%;
  background: #343434;
  padding-top: 45px;
  padding-bottom: 65px;
  .footerContainer {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    .divOne {
      .imageDiv {
        display: flex;
        align-items: center;
        font-family: CenturyGothic;
        font-weight: bold;
        font-size: 34px;
        line-height: 41px;
        text-align: left;
        color: #fff;
        @media screen and (max-width: 768px) {
          justify-content: center;
        }
        img {
          transform: translateZ(0);
          margin-right: 5px;
          width: 150px;
          margin: auto;
        }
      }
      button {
        width: 358px;
        height: 48px;
        border-radius: 24px;
        background: #26914a;
        font-family: Poppins;
        font-weight: 300;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        color: #fff;
        border: none;
        margin-top: 64px;
        margin-top: -20px;
        @media screen and (max-width: 825px) {
          width: 300px;
        }
        @media screen and (max-width: 768px) {
          margin: 20px;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 0;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .divTwo {
      display: flex;
      justify-content: space-between;
      padding-right: 180px;
      @media screen and (max-width: 1200px) {
        padding-right: 0px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      .linksDiv {
        display: flex;
        flex-direction: column;
        min-width: 156px;
        @media screen and (max-width: 1024px) {
          min-width: 100px;
        }
        @media screen and (max-width: 600px) {
          min-width: 100%;
        }
        h2 {
          margin: 0;
          font-family: CenturyGothic;
          font-weight: normal;
          font-size: 33px;
          text-align: left;
          color: #fff;
          margin-bottom: 18px;
          @media screen and (max-width: 600px) {
            text-align: center;
          }
        }
        span {
          display: block;
          font-family: CenturyGothic;
          font-weight: normal;
          font-size: 17px;
          line-height: 16px;
          text-align: left;
          color: #fff;
          margin-bottom: 10px;
          @media screen and (max-width: 600px) {
            text-align: center;
          }
        }
      }
      .linksDiv + .linksDiv {
        margin-left: 58px;
        @media screen and (max-width: 600px) {
          margin: 0;
        }
      }
    }
  }
}
