.loginPageMain {
	width: 100vw;
	height: 100vh;
	display: flex;
	.imageDivMain {
		width: 55%;
		height: 100%;
		@media screen and (max-width: 600px) {
			display: none;
		}
		position: relative;
		.imageDiv {
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
		}
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: #26914a;
			border: 1px solid #707070;
			opacity: 0.65;
		}
	}
	.formDiv {
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 70px 120px;
		@media screen and (max-width: 1440px) {
			padding: 60px 60px;
		}
		@media screen and (max-width: 1024px) {
			padding: 60px 60px;
		}
		@media screen and (max-width: 768px) {
			padding: 40px 40px;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
			padding: 40px 20px;
		}
		img {
			width: 200px;
			@media screen and (max-width: 1440px) {
				width: 150px;
			}
		}
		.inputGroup {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-top: 80px;
			@media screen and (max-width: 1440px) {
				margin-top: 80px;
			}
			@media screen and (max-width: 600px) {
				margin-top: 40px;
			}
			.inputDiv {
				display: flex;
				flex-direction: column;
				width: 100%;
				align-items: flex-end;
				margin-top: 25px;
				position: relative;
				@media screen and (max-width: 1440px) {
					margin-top: 15px;
				}
				input {
					width: 100%;
					height: 78px;
					border-radius: 4px;
					background: #ececec;
					border: none;
					font-family: Poppins;
					font-weight: 300;
					font-size: 24px;
					text-align: left;
					color: #707070;
					padding: 20px;
					outline: none;
					position: relative;
					@media screen and (max-width: 1440px) {
						height: 40px;
						font-size: 16px;
						padding: 10px;
					}
				}
				svg {
					margin-top: 10px;
					cursor: pointer;
					position: absolute;
					right: 20px;
					top: 5px;
					@media screen and (max-width: 1440px) {
						width: 16px;
						position: absolute;
						right: 20px;
						top: 5px;
					}
				}
			}
			.checkboxRemeber {
				width: 200px;
				font-family: Poppins;
				font-weight: 300;
				font-size: 20px;
				text-align: left;
				color: #707070;
				margin: 20px 0px;
				@media screen and (max-width: 1440px) {
					font-size: 16px;
				}
			}
			.ant-checkbox-wrapper:hover .ant-checkbox-inner,
			.ant-checkbox:hover .ant-checkbox-inner,
			.ant-checkbox-input:focus + .ant-checkbox-inner {
				border-color: #707070;
			}
			.ant-checkbox-inner {
				border-color: #707070;
			}

      button {
        width: 245px;
        height: 50px;
        border-radius: 25px;
        background: #26914a;
        font-family: Poppins;
        font-weight: 300;
        font-size: 27px;
        color: #fff;
        border: none;
        margin: auto;
        margin-top: 80px;
        @media screen and (max-width: 1440px) {
          margin-top: 30px;
          height: 40px;
          width: auto;
          padding: 0px 50px;
          font-size: 16px;
        }
      }
      .forgotPassword {
        display: inline-block;
        margin: auto;
        margin-top: 18px;
        @media screen and (max-width: 1440px) {
          margin-top: 10px;
        }
        a {
          font-family: Poppins;
          font-weight: 300;
          font-size: 20px;
          text-align: left;
          color: #707070;
          @media screen and (max-width: 1440px) {
            font-size: 16px;
          }
        }
      }
      .orLoginWith {
        display: inline-block;
        margin: auto;
        font-family: Poppins;
        font-weight: 500;
        font-size: 28px;
        text-align: left;
        color: #707070;
        margin-top: 80px;
        @media screen and (max-width: 1440px) {
          margin-top: 30px;
          font-size: 20px;
        }
      }
      .socialIconDiv {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        @media screen and (max-width: 1440px) {
          margin-top: 10px;
        }
        .eclipse {
          width: 88px;
          height: 88px;
          border-radius: 88px;
          background: #fff;
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          @media screen and (max-width: 1440px) {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            svg {
              height: 20px;
            }
          }
        }
        .eclipse + .eclipse {
          margin-left: 50px !important;
          @media screen and (max-width: 1024px) {
            margin-left: 20px !important;
          }
        }
      }

      .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
      }

      .alert {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
      }
    }
  }
}
